body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background:#F5F5F5;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: darkmagenta;
  color: white;
  height: 75px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Align links to the right */
}

.navigation ul li {
  margin-left: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background-color: lightpink;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 400px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px;
  gap: 32px;
  font-size: large;
}

.image-section {
  flex-shrink: 0;
}

.image-section img {
  max-width: 800px;
  height: auto;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: darkmagenta;
}

.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: darkmagenta;
  color: white;
  height: 75px;
  position: relative;
}

.alink {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.alink:hover {
  background-color: lightpink;
}

.main-section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
}

.main-section1 img {
  margin-top: 80px;
  border-radius: 5px;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.content {
  max-width: 600px;
}

p{
  font-size: large;
}

.ingredients {
  list-style-type: square;
  color: darkmagenta;
  background-color: #fbeaff; /* light pink background */
  padding: 40px;
  border: 2px solid darkmagenta;
  border-radius: 10px;
  width: fit-content;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* optional for subtle shadow */
  font-size: large;
}

.steps {
  color: darkmagenta;
  background-color: #fbeaff; /* light pink background */
  padding: 40px;
  border: 2px solid darkmagenta;
  border-radius: 10px;
  width: fit-content;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* optional for subtle shadow */
  font-size: large;
}




